@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #F2F2F2;
  min-height: 100%;
  margin: 0;
}

.page-conteiner {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2)
}

.main-header {
  display: flex;
  flex-direction: row;
  width: 1060px;
  min-height: 64px;
  margin: 0 auto;
  position: relative;
}

.logo {
  height: 70px;
  width: 140px;
  position: absolute;
  top: 0;
  left: 0;
}

.logo-catalog:hover {
  transform: scale(1.03);
}

.logo-catalog:active {
  transform: scale(1);
}

.navigation-list {
  margin: 0;
  padding: 0;
}

.header-navigation {
  display: flex;
  width: 1060px;
  padding-left: 168px;

}

.navigation-site {
  width: 465px;
  min-height: 64px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  margin-right: auto;
}

.navigation-item {
  padding-left: 16px;
  padding-right: 16px;
  min-height: 64px;
}

.navigation-user {
  display: flex;
  flex-wrap: wrap;
  min-width: 88px;
  align-items: center;
  min-height: 64px;
  margin-right: 20px;
}

.navigation-item-user {
  width: 44px;
  min-height: 64px;
  padding-left: 12px;
  padding-right: 12px;
  position: relative;

}

main {
  color: #333333;
  text-align: center;
  width: 1200px;
  margin: auto;
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  font-family: inherit;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}



.header-button {
  font-size: 16px;
  width: 160px;
  display: inline-block;
  line-height: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin: auto 0;
  word-wrap: break-word;
}

.booking-link-button {
  font-size: 20px;
  line-height: 36px;
  width: 376px;
  padding-top: 8px;
  padding-bottom: 8px;
  display: inline-block;
  word-wrap: break-word;
}

.newsletter-button {
  font-size: 20px;
  line-height: 36px;
  width: 232px;
  padding-top: 8px;
  padding-bottom: 8px;
  display: inline-block;
  border-radius: 0 4px 4px 0;
  word-wrap: break-word;
}

.button-brown {
  background-color: #756157;
}

.button-brown:hover {
  background-color: #615048;
}

.button-brown:focus-visible {
  background-color: #615048;
}

.button-brown:active {
  background-color: #756157;
  color: #FFFFFF4D;
}

.button-blue {
  background-color: #82B3D3;
}

.button-blue:hover {
  background-color: #68A2CA;
}

.button-blue:focus-visible {
  background-color: #68A2CA;
}

.button-blue:active {
  background-color: #82B3D3;
  color: #FFFFFF4D;
}

.button-disabled:disabled {
  background-color: #E5E5E5;
}

.main-header {
  color: #000000;
  background-color: #ffffff;
  position: relative;
}

.navigation-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: inherit;
  text-decoration: none;
  display: inline-block;
  padding-top: 20px;
  padding-bottom: 20px;
}

.navigation-link--current-home {
  position: relative;
}

.navigation-link--current-home::after {
  content: "";
  width: 68px;
  height: 2px;
  background-color: #756257;
  display: block;
  position: absolute;
  top: 63px;
}

.navigation-link--current-hotels {
  position: relative;
}

.navigation-link--current-hotels::after {
  content: "";
  width: 93px;
  height: 2px;
  background-color: #756257;
  display: block;
  position: absolute;
  top: 63px;
}

.item-marker {
  list-style-type: none;
}

.link-search {
  background-image: url("../image/decor_images/icon_search.svg");
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 22px;
  padding-bottom: 22px;
  width: 20px;
  height: 64px;
  display: block;
}

.link-interaction:hover, .link-interaction:focus-visible {
  opacity: 0.5;
}

.link-interaction:active {
  opacity: 0.3;
}

.link-user {
  background-image: url("../image/decor_images/icon-heart.svg");
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 22px;
  padding-bottom: 22px;
  width: 20px;
  height: 64px;
  display: block;
}

.quantity {
  font-size: 10px;
  line-height: 10px;
  color:#ffffff;
  text-align: center;
  background-color: #7DB54F;
  min-width: 20px;
  min-height: 20px;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 5px;
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 11px;
  left: 20px;
}

.hero {
  background-image: url("../image/decor_images/white_hero.svg"), url("../image/decor_images/index_background.jpg");
  background-color: #5d94ba;
  background-repeat: no-repeat;
  background-position: center bottom, center;
  background-size: 100% cover;
  min-height: 485px;
}

.hero-welcom {
  margin-top: 51px;
  text-align: center;
}

.conteiner-about-title {
  max-width: 680px;
  min-height: 282px;
  margin: 0 auto;
  padding-top: 69px;
  padding-bottom: 69px;
  word-wrap: break-word;
}

.about-title {
 margin-top: 0;
 margin-bottom: 25px;
}

.about-intro {
  margin: 0;
}

.about-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.main-title {
  color: #000000;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.main-intro {
  color: #333333;
  font-size: 22px;
  line-height: 26px;
}

.subscription-content {
  color: #ffffff;
  margin: 0;
}

.field {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  border: none;
  padding: 0 20px;
  height: 52px;
  width: 452px;
  border-radius: 4px 0 0 4px;
  background-color: #f2f2f2;
}

.field:hover {
  background-color: #E6E6E6;
}

.field:focus {
  background-color: #E6E6E6;
}

.field:active {
  background-color: #F2F2F2;
  outline: 2px solid #000000;
  color: #000;
}



.subtitle-about {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  margin-bottom: 30px;
}

.subtitle-about::after {
  margin: 0 auto;
  margin-top: 30px;
  width: 60px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.30);
  content: "";
  display: block;
}

.about-white-subtitle {
  color: #ffffff;
}

.about-white-subtitle::after {
  margin: 0 auto;
  margin-top: 30px;
  width: 60px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.3);
  content: "";
  display: block;
}

.subtitle-services {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  margin-bottom: 30px;
}

.about-description {
  margin: 0;
}


.about-white {
  color: #ffffff;
  background-color: #82B3D3;
  max-width: 1200px;
  display: flex;
  align-items: center;
}

.about-black-road {
  max-width: 400px;
  min-height: 385px;
  background-color: rgba(131, 179, 211, 0.2);
  padding-left: 85px;
  padding-right: 85px;
  padding-top: 113px;
  padding-bottom: 112px;
}

.about-black {
  max-width: 400px;
  min-height: 385px;
  padding-left: 85px;
  padding-right: 85px;
  padding-top: 113px;
  padding-bottom: 112px;
  background-color: rgba(131, 179, 211, 0.12)
}

.conteiner-about-subtitle {
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 102px;
  padding-bottom: 102px;
}

.conteiner-services-title {
  width: 518px;
  margin: 0 auto;
  min-height: 246px;
  padding-top: 64px;
  padding-bottom: 64px;
}

.service-title {
  margin: 0;
  margin-bottom: 20px;
}

.services-intro {
  margin: 0;
}

.services-list {
  display: flex;
  margin: 0;
  padding: 0;
  min-height: 385px;
}

.conteiner-item-services {
  width: 230px;
  min-height: 121px;
  margin: 0 auto;
}

.services-item-food {
  background-color: #ffffff;
  background-image: url("../image/decor_images/food_icon.svg");
  background-repeat: no-repeat;
  background-position: 163px 82px;
  list-style-type: none;
  width: 400px;
  padding-top: 184px;
  padding-bottom: 30px;
}

.services-item-souvenirs {
  background-color: rgba(131, 179, 211, 0.12);
  background-image: url("../image/decor_images/souvenirs_icon.svg");
  background-position: 168px 79px;
  background-repeat: no-repeat;
  list-style-type: none;
  width: 400px;
  padding-top: 184px;
  padding-bottom: 10px;
  padding-bottom: 30px;
}

.services-item-house {
  background-color: rgba(131, 179, 211, 0.12);
  background-image: url("../image/decor_images/house_icon.svg");
  background-position: 163px 81px;
  background-repeat: no-repeat;
  list-style-type: none;
  width: 400px;
  padding-top: 184px;
  padding-bottom: 30px;
}

.services-description {
  margin: 0;
}

.booking {
  width: 610px;
  min-height: 406px;
  margin: 0 auto;
  padding-top: 96px;
  padding-bottom: 96px;
}

.booking-title {
  margin: 0;
  margin-bottom: 20px;
}

.booking-intro {
  margin: 0;
  margin-bottom: 54px;
}

.subscription {
  width: 100%;
  min-height: 415px;
  background-image: url("../image/decor_images/background_subscription.jpg");
  background-color: #5d94ba;
  background-repeat: no-repeat;
}

.conteiner-subscription-title {
  width: 475px;
  min-height: 259px;
  margin: 0 auto;
}

.subscription-title {
  padding-top: 96px;
  margin: 0;
  margin-bottom: 20px;
}

.subscription-intro {
  margin: 0;
}

.subscription-form {
  display: flex;
  width: 684px;
  margin: 0 auto;
}

.main-footer {
  display: flex;
  width: 1060px;
  margin: 0 auto;
  min-height: 120px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 3px;
}

.social-list {
  display: flex;
  width: 142px;
  min-height: 120px;
  padding: 0;
  margin: 0;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.social-item {
  height: 40px;
  text-align: center;
}

.social-icon {
  width: 47px;
  height: 40px;
  display: inline-block;
  padding-top: 13px;
  fill: #83B3D3;
}

.social-icon:hover, .social-icon:focus {
  fill: #68A2CA;
}

.social-icon:active {
  fill: #68A2CA4D;
}

a[href^="tel:"] {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
}

a[href^="tel:"]:hover, a[href^="tel:"]:focus {
  color: #756157;
}

a[href^="tel:"]:active {
  color: #7561574D;
}

.footer-logo-html {
  width: 115px;
  height: 33px;
  fill: #000000;
}

.footer-logo-html:hover, .footer-logo-html:focus {
  fill: #756157;
}

.footer-logo-html:active {
  fill: #7561574D;
}


/*catalog*/

.button-catalog-filtr {
  font-size: 16px;
  line-height: 20px;
  width: 191px;
  padding-top: 8px;
  padding-bottom: 8px;
  display: inline-block;
  word-wrap: break-word;
  margin-top: 56px;
}

.button-reset {
  font-family: inherit;
  background-color: transparent;
  width: 191px;
  padding-top: 8px;
  padding-bottom: 8px;
  display: inline-block;
  word-wrap: break-word;
  margin-top: 32px;
  margin-bottom: 0;
}

.button-reset:hover {
  opacity: 0.6000000238418579;
}

.button-reset:active {
  color: #FFFFFF4D;
}

.button-reset:disabled {
  opacity: 0.10000000149011612;
}

.card-button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  width: 140px;
  display: inline-block;
  padding-top: 8px;
  padding-bottom: 8px;
  margin: auto 0;
  word-wrap: break-word;
}

.button-selection-green {
  font-size: 16px;
  line-height: 20px;
  background-color: #7DB54F;
}

.button-selection-green:hover {
  background-color: #6C9E42;
}

.button-selection-green:focus-visible {
  background-color: #6C9E42;
}


.button-selection-green:active {
  background-color: #7DB54F;
  color: #FFFFFF4D;
}

.catalog-hotel-rating {
  font-size: 16px;
  display: inline-block;
  line-height: 20px;
  color: #333333;
  text-align: center;
  text-transform: uppercase;
  padding-top: 8px;
  padding-bottom: 8px;
  margin: 0 auto;
  width: 140px;
  background-color: #F2F2F2;
  border-radius: 4px;
  border: none;
  margin-top: 17px;
}

.pagination-list {
  display: grid;
  margin: 0;
  width: 400px;
  grid-template-columns: repeat(6, 60px);
  gap: 8px;
  padding: 0;
}

.pagination-link-button {
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  height: 60px;
  width: 60px;
  background-color: #82B3D3;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  line-height: 60px;
}
.pagination-link-button-interval {
  color: #000000;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  height: 60px;
  width: 60px;
  background-color: #ffffff;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  line-height: 60px;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}

.filter {
  color: #ffffff;
  background-image: url("../image/decor_images/background.jpg");
  background-color: #5d94ba;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  min-height: 412px;

}

.filtr-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  text-align: left;
  padding-top: 35px;
  margin: 0;
  margin-left: 70px;
  margin-bottom: 8px;
}


.breadcrumbs-list {
  display: flex;
  margin: 0;
  margin-left: 70px;
  margin-right: 70px;
  margin-bottom: 40px;
  padding: 0;
  min-width: 114px;
  align-items: center;
}


.breadcrumbs-item {
  font-size: 16px;
  line-height: 21px;
  text-align: left;
  position: relative;
}

.breadcrumbs-link-hotels {
  margin-left: 28px;
}

.breadcrumbs-link:hover {
  opacity: 60%;
}

.breadcrumbs-link:active {
  opacity: 30%;
}

.breadcrumbs-item:not(:last-child)::after {
  position: absolute;
  content: "";
  width: 8px;
  height: 21px;
  display: block;
  background-image: url("../image/decor_images/arrow_forward.svg");
  background-repeat: no-repeat;
  background-position: center;
  top: 0;
  right: -18px;
}

.breadcrumbs-link-home {
  background-image: url("../image/decor_images/icon_home.svg");
  background-repeat: no-repeat;
  background-position: center;
  height: 21px;
  width: 13px;
  display: block;
}

.control {
  display: flex;
  align-items: center;
}

.control-input[type="checkbox"] {
  appearance: none;
  background-color: #ffffff;
  min-width: 20px;
  min-height: 20px;
  margin: 0;
  border-radius: 4px;
  margin-right: 16px;
  cursor: pointer;
}

.control-input[type="checkbox"]:checked {
  background-image: url(../image/decor_images/check.svg);
  background-repeat: no-repeat;
  background-position: top 5px left 4px;
}

.control-input[type="radio"] {
  appearance: none;
  background-color: #ffffff;
  min-width: 20px;
  min-height: 20px;
  margin: 0;
  border-radius: 50%;
  margin-right: 16px;
  cursor: pointer;
}

.control-input[type="radio"]:checked {
  background-color: #3F5E72;
  box-shadow: inset 0 0 0 5px #ffffff;
}

.control:hover {
  opacity: 0.6000000238418579;
}

.control:active {
  opacity: 0.30000001192092896;
}

.filtr-catalog {
  display: flex;
  flex-direction: row;
  width: 1060px;
  margin: 0 auto;
}

.filtr-catalog-group {
  border: none;
  text-align: left;
  margin: 0;
  padding: 0;
  width: 220px;
  padding-right: 15px;

}

.filtr-catalog-group-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 32px;
  padding: 0;
  text-transform: capitalize;
}

.filtr-catalog-list {
  font-size: 18px;
  line-height: 23px;
  padding: 0;

  margin: 0;

}

.filtr-catalog-item{
  margin-bottom: 16px;
}

.filtr-catalog-group-house {
  margin-right: 72px;
}

.conteiner-price-button {
  width: 191px;
}

.filtr-price {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  position: relative;
}

.conteiner-price {
  display: flex;
}

.filtr-catalog-group-price {
  width: 288px;
  padding: 0;
  margin-right: 70px;
}

.filtr-price-min {
  position: absolute;
  top: 12px;
  right: 20px;
  color: #aaaaaa;
}

.filtr-price-max {
  position: absolute;
  top: 12px;
  right: 20px;
  color: #aaaaaa;
}

.catalog-price-input-min {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  width: 143px;
  height: 48px;
  border-radius: 4px 0 0 4px;
  border: none;
  padding-left: 20px;
  padding-right: 40px;
  margin-right: 2px;
  background-color: #F2F2F2;
}

.catalog-price-input-max {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  width: 143px;
  height: 48px;
  border-radius: 0 4px 4px 0;
  border: none;
  padding-left: 20px;
  padding-right: 40px;
  background-color: #F2F2F2;
}

.catalog-price-input:hover {
  background-color: #E6E6E6;
}

.catalog-price-input:focus {
  background-color: #E6E6E6;
}

.catalog-price-input:active {
  background-color: #F2F2F2;
  outline: 2px solid #000;
}



.range-scale {
  height: 4px;
  width: 287px;
  background-color: #ffffff3d;
  margin-top: 44px;
  position: relative;
}

.range-bar {
  height: 4px;
  background-color: #ffffff;
  position: absolute;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 4px;
  background-color: #ffffff;
  cursor: pointer;
  top: -8px
}

.range-toggle:hover {
  box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
}

.range-toggle:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.range-toggle:active {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  outline: 2px solid #83B3D3;
}


.toggle-min {
  top: -8px
}

.toggle-max {
  top: -8px;
  right: -1px
}

.conteiner-hotel-select {
  display: flex;
  width: 1060px;
  margin-bottom: 40px;
  align-items: center;
}

.catalog-view-list {
  display: grid;
  grid-template-columns: repeat(3, 48px);
  align-items: center;
  gap: 8px;
  padding: 0;
  margin: 0;
  margin-left: auto;
}

.catalog-select-control {
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #ffffff;
  width: 292px;
  min-height: 49px;
  border-radius: 4px;
  border: 2px solid #E5E5E5;
  padding: 0 50px 0 20px;
  margin-right: 70px;
  margin-left: auto;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.catalog-select-control::-ms-expand {
  display: none;
}

.catalog-select-control:hover, .catalog-select-control:focus {
 border-color: #68A2CA;
}

.catalog-select-control:active {
  border-color: #3F5E72;
}

.catalog-select-control:disabled {
  border-color: #0000004D;
  color: rgba(0, 0, 0, 0.30);
}

.catalog-select-control:disabled + .select-conteiner::after {
  opacity: 0.3;
}

.select-conteiner {
  position: relative;
}

.select-conteiner::after {
  background-image: url(../image/decor_images/arrow_down.svg);
  background-repeat: no-repeat;
  width: 12px;
  height: 12px;
  content: "";
  display: block;
  position: absolute;
  margin-left: 260px;
  margin-top: -28px;
  pointer-events: none;
}

.catalog-card-search {
  margin: 0;
  margin-right: 200px;
}

.view-card-link {
  background-image: url("../image/decor_images/icon_view_card.svg");
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  width: 48px;
  height: 48px;
  border: 2px solid #E6E6E6 ;
  border-radius: 4px;
}

.view-big-card-link {
  background-image: url("../image/decor_images/icon_view_big_card.svg");
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  width: 48px;
  height: 48px;
  border: 2px solid #E6E6E6 ;
  border-radius: 4px;
}

.view-list-link {
  background-image: url("../image/decor_images/icon_view_list.svg");
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  width: 48px;
  height: 48px;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
}

.view-link--current {
  border: 2px solid #000000;
}

.view-link:hover {
  border: 2px solid #000000;
}

.view-link:active {
  border: 2px solid #000000;
}

.catalog-hotel {
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 50px;
  padding-bottom: 60px;
  width: 1200px;

}

.catalog-card-list {
  display: grid;
  grid-template-columns: 340px 340px 340px;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  gap: 20px;
}

.conteiner-card-list::after {
  margin-top: 40px;
  margin-bottom: 40px;
  width: 100%;
  height: 1px;
  background-color: #E6E6E6;
  display: block;
  content: "";
}

.catalog-card-item {
  display: grid;
  grid-template-columns: 140px 140px;
  column-gap: 20px;
  padding: 20px;
  border: 1px solid #E6E6E6 ;
  border-radius: 4px;
}

.card-foto {
  height: 212px;
  width: 300px;
}

.card-link-img {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  height: 212px;
  width: 300px;
}

.catalog-card-link-title {
  text-decoration: none;
  grid-column: 1 / 3;
  grid-row: 2 / 3;
}

.catalog-card-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  margin: 0;
  padding-top: 16px;
  text-align: start;
}

.type {
  margin: 0;
  padding-top: 16px;
  padding-bottom: 10px;
  text-align: start;
  font-size: 18px;
  line-height: 21px;
}

.price {
  margin: 0;
  padding-top: 16px;
  padding-bottom: 14px;
  text-align: end;
  font-size: 18px;
  line-height: 21px;
}

.four-stars {
  width: 89px;
}

.three-stars {
  width: 65px;
}

.two-stars{
  width: 41px;
}

.catalog-hotel-stars {
  background-image: url("../image/decor_images/star.svg");
  height: 17px;

  background-repeat: space;
  margin: 0;
  margin-top: 16px;
  align-self: center;
}

.subscription-catalog {
  background-image: none;
  background-color: #ffffff;
}

/**modal**/

.modal-conteiner {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.80);
}

.modal-window {
  display: flex;
  flex-direction: column;
  width: 717px;
  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: 0px 25px 50px 0px rgba(0, 0, 0, 0.15);
  padding: 64px 70px;
  margin: auto;
  position: relative;
}

.modal-button {
  position: absolute;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  border: none;
  padding: 0;
  background-color: #F2F2F2;
  top: 64px;
  right: 52px;
  cursor: pointer;
}

.modal-button:hover {
  background-color: #E6E6E6;
}

.modal-button:active {
  background-color: #E6E6E6;
}

.modal-button:active::before,
.modal-button:active::after {
  background-color: #A1A1A1;
}

.modal-button::before,
.modal-button::after {
  content: "";
  display: block;
  position: absolute;
  background-color: #000000;
  width: 2px;
  height: 18px;
  top: 18px;
  left: 26px;
}

.modal-button::after {
transform: rotate(-45deg);
}

.modal-button::before {
  transform: rotate(45deg);
}

.modal-title {
  font-family: inherit;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 64px;
}

.modal-booking-form {
  border: none;
}

.modal-search-button {
  display: block;
  border-radius: 10px;
  width: 100%;
  font-family: PT Sans;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  padding-top: 18px;
  padding-bottom: 18px;
}

.modal-booking-form {
  margin: 0;
  padding: 0;
}

.date-input {
  border-radius: 4px;
  border: none;
  background-color: #F2F2F2;
  background-image: url("../image/decor_images/date.svg");
  background-repeat: no-repeat;
  background-position: center right 20px;
  padding: 12px 50px 12px 20px;
  width: 440px;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
}

.date-input:hover {
  background-color: #E6E6E6;
}

.date-input:focus {
  background-color: #E6E6E6;
}

.date-input:active {
  background-color: #F2F2F2;
  outline: 2px solid #000000;
  color: #000;
}

.booking-date {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  width: 100%;
}

.date-comment {
  padding-top: 4px;
  color: #333333;
  padding-left: 157px;
  padding-bottom: 23px;
  font-size: 16px;
  line-height: 21px;
  width: 100%;
}

.input-error-date {
  color: #FF5757;
}

.guest-age {
  display: flex;
  margin: 0;
  align-items: center;
}

.lable-info-date {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
  width: calc(100% - 440px);
  padding-right: 10px;
  align-self: center;
}

.lable-info-guest {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
}

.lable-info-age {
  width: 137px;
  padding-right: 10px;
}

.info-children-tooltip {
  padding-right: 36px;
  padding-left: 20px;
  position: relative;
  margin-right: 46px;
}

.tooltip {
  position: absolute;
  width: 26px;
  height: 26px;
  right: 0;
}

.tooltip-button {
  display: block;
  width: 26px;
  height: 26px;
  border: none;
  padding: 0;
  margin: 0;
  border-radius: 50%;
  background-color: #83B3D3;
  background-image: url("../image/decor_images/info.svg");
  background-position: center;

}

.tooltip-text {
  position: absolute;
  background-color: #333333;
  color: #ffffff;
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  padding: 20px 18px 23px 22px;
  width: 256px;
  display: block;
  border-radius: 10px;
  margin-top: 15px;
  left: 50%;
  transform: translate(-50%);
  top: 100%;
  text-transform: none;
  display: none;
  box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.30);
  z-index: 1;
}

.tooltip-text::after {
  content: "";
  background-image: url("../image/decor_images/triangle.svg");
  width: 19px;
  height: 9px;
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.tooltip-button:hover {
  background-color: #68A2CA;
}

.tooltip-button:hover + .tooltip-text,
.tooltip-button:focus + .tooltip-text {
  display: block;
}

.number-of-guests {
  display: flex;
  justify-content: space-between;
  margin-bottom: 48px;
}

.guests-number-input {
  width: 31px;
  min-height: 48px;
  padding: 14px 0;
  border: none;
  background-color: #F2F2F2;
  text-align: center;
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  color: #000000;
}

.guests-number-input::placeholder {
  color: #000000;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.modal-number-batton {
  min-width: 40px;
  height: 48px;
  border: none;
  background-color: #F2F2F2;
  padding: 0;
}

.modal-minus-button {
  border-radius: 4px 0 0 4px ;
  position: relative;
}

.modal-plus-button {
  border-radius: 0 4px 4px 0;
  position: relative;
}

.modal-minus-button::before {
  position: absolute;
  content: "";
  display: block;
  width: 14px;
  height: 2px;
  background-color: #CDC7C4;
  left: 13px;
}

.modal-plus-button::before,
.modal-plus-button::after {
  position: absolute;
  content: "";
  display: block;
  width: 14px;
  height: 2px;
  background-color: #CDC7C4;
  left: 13px;
}

.modal-plus-button::after {
  transform: rotate(90deg);
}

.modal-minus-button:hover::before,
.modal-plus-button:hover::before,
.modal-plus-button:hover::after {
  background-color: #000000;
}

.modal-minus-button:active::before,
.modal-plus-button:active::before,
.modal-plus-button:active::after {
  background-color: #CCCCCC;
}

.modal-conteiner-close {
  display: none;
}










































